USE [master]
GO
/****** Object:  Database [CarDealership]    Script Date: 2/7/2022 11:42:55 PM ******/
CREATE DATABASE [CarDealership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarDealership', FILENAME = N'D:\College\Term 5\پایگاه داده\پروژه\DBMS\CarDealership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarDealership_log', FILENAME = N'D:\College\Term 5\پایگاه داده\پروژه\DBMS\CarDealership_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarDealership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarDealership]
GO
/****** Object:  Table [dbo].[CmpBuy]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmpBuy](
	[CarID] [int] NOT NULL,
	[ComID] [int] NOT NULL,
	[MgrID] [smallint] NOT NULL,
	[BDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC,
	[ComID] ASC,
	[MgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V1]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V1] AS
SELECT ComID,COUNT(*) as number
FROM CmpBuy
group by ComID;
/*
SELECT *
FROM V1,Company
*/
GO
/****** Object:  Table [dbo].[Car]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [int] IDENTITY(100,1) NOT NULL,
	[Carname] [varchar](100) NOT NULL,
	[EngineNum] [int] NOT NULL,
	[Model] [varchar](100) NOT NULL,
	[Color] [varchar](50) NULL,
	[Factory] [varchar](max) NOT NULL,
	[CrDate] [date] NULL,
	[BuyPrice] [money] NOT NULL,
	[Existing] [bit] NOT NULL,
	[CarType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EngineNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(100,1) NOT NULL,
	[CoName] [varchar](60) NOT NULL,
	[Phone] [bigint] NOT NULL,
	[Street] [varchar](max) NULL,
	[Alley] [varchar](max) NULL,
	[Plaque] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustBuy]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustBuy](
	[CarID] [int] NOT NULL,
	[CustID] [int] NOT NULL,
	[MgrID] [smallint] NOT NULL,
	[BDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC,
	[CustID] ASC,
	[MgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(100,1) NOT NULL,
	[Fname] [varchar](40) NOT NULL,
	[Lname] [varchar](80) NOT NULL,
	[Sex] [bit] NOT NULL,
	[FatherName] [varchar](40) NULL,
	[NationalID] [char](10) NOT NULL,
	[BDate] [date] NULL,
	[Phone] [bigint] NULL,
	[Mobile] [char](11) NOT NULL,
	[Street] [varchar](max) NULL,
	[Alley] [varchar](max) NULL,
	[Plaque] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NationalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[ID] [smallint] IDENTITY(100,1) NOT NULL,
	[Fname] [varchar](40) NOT NULL,
	[Lname] [varchar](80) NOT NULL,
	[Sex] [bit] NOT NULL,
	[FatherName] [varchar](40) NULL,
	[NationalID] [char](10) NOT NULL,
	[BDate] [date] NULL,
	[Phone] [bigint] NULL,
	[Mobile] [char](11) NOT NULL,
	[Street] [varchar](max) NULL,
	[Alley] [varchar](max) NULL,
	[Plaque] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NationalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewCar]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewCar](
	[NID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[CarID] [int] NOT NULL,
	[CustID] [int] NOT NULL,
	[MgrID] [smallint] NOT NULL,
	[SalePrice] [money] NOT NULL,
	[SDate] [date] NOT NULL,
	[DlverDate] [date] NULL,
	[PaymentMethod] [text] NOT NULL,
	[Payment] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC,
	[CustID] ASC,
	[MgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsedCar]    Script Date: 2/7/2022 11:42:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsedCar](
	[UseID] [int] NOT NULL,
	[Violations] [text] NULL,
	[Damage] [smallint] NOT NULL,
	[KmUsed] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CmpBuy]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[NewCar] ([NID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CmpBuy]  WITH CHECK ADD FOREIGN KEY([ComID])
REFERENCES [dbo].[Company] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CmpBuy]  WITH CHECK ADD FOREIGN KEY([MgrID])
REFERENCES [dbo].[Managers] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CustBuy]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[UsedCar] ([UseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CustBuy]  WITH CHECK ADD FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CustBuy]  WITH CHECK ADD FOREIGN KEY([MgrID])
REFERENCES [dbo].[Managers] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NewCar]  WITH CHECK ADD FOREIGN KEY([NID])
REFERENCES [dbo].[Car] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[Car] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([CustID])
REFERENCES [dbo].[Customer] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([MgrID])
REFERENCES [dbo].[Managers] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsedCar]  WITH CHECK ADD FOREIGN KEY([UseID])
REFERENCES [dbo].[Car] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD CHECK  (([buyprice]>(0)))
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CHK_Customer] CHECK  (([NationalID] like '0%' AND [Mobile] like '0%'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CHK_Customer]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [CHK_Managers] CHECK  (([NationalID] like '0%' AND [Mobile] like '0%'))
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [CHK_Managers]
GO
ALTER TABLE [dbo].[UsedCar]  WITH CHECK ADD CHECK  (([Damage]>=(0) AND [Damage]<=(100)))
GO
USE [master]
GO
